# Ignore Gradle project-specific cache directory
.gradle/
.nb-gradle/

# Ignore Gradle build output directory
build/
bin/

# Ignore log
log.txt

# Ignore token
token.txt

# Ignore classpath
.classpath

nbproject/

# Ignore 2nd approach to moveselector
src/main/java/datastructureproject/MoveSelector2.java
